*, *:before, *:after { box-sizing: border-box; }

body {
  padding: 0px;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f9f9f9;
  overflow-x: hidden;
}

a {
  color: #00B7FF;
}

#navBar{
  height: 10%;
  width: 100%;
  background-color: white;
  box-shadow: 0px 2px 5px gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 16px;
  z-index: 10;
}

#sideMenu{
  height: 90%;
  width: 20%;
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  top: 10%;
  left: -20%;
  background-color: white;
  z-index: 2;
  padding: 8px;
  padding-top: 32px;
  font-size: 20px;
}

.sideMenuItem{
  display: flex;
  width: 100%;
  height: 25px;
  align-items:flex-end;
  padding-left: 8px;
  margin-bottom: 32px;
  user-select: none;
  cursor: pointer;
  color: black;
  transition: color 0.1s linear;
  font-weight: 500;
}

.sideMenuItem:hover{
  color: #3f5eef;
}

.iconButton{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(211, 211, 211, 0);
}

.raisedButton{
  background-color: white;
  border-radius: 10px;
  padding: 8px;
  box-shadow: -1px 1px 0px 1.5px lightgray;
  width: 50px;
  cursor: pointer;
  user-select: none;
}

#records{
  margin: auto;
  width: 95%;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 1px gray;
  padding: 16px;
  background-color: white;
}

#recordsHolder{
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

#inputHolder{
  margin-bottom: 16px;
}

.input{
  padding: 16px;
  border-radius: 10px;
  border: 2px solid lightgray;
  font-size: 16px;
}

.input:focus{
  border: 2px solid black;
  outline: none;
}